.fotoBuzon{
    width: 100%;
    border-radius: 5%;
}

.tituloBuzon{
    color: #ffffff;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.inputBuzon{
    align-items: center;
    justify-self: center;
    width: 90%;
    height: 55px;
    margin: 20px;
    border-color: #ffffff;
    margin-bottom: 50px;
}

.inputBuzon::placeholder{
    color: #1f1c1ba8;
    font-size: 30px;
}

.signo{
    color: #EA5500;
}