.grid-carrito{
    padding-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
}

.recibo{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 50%;
}
.producto>.btn{
    font-weight: bold;
    background-color: #F0B823;
  }
  .producto>.btn:hover{
    background-color: #EA5500;
  }
  .btnrecibo{
    font-weight: bold;
    background-color: #F0B823;
  }
  .btnrecibo:hover{
    background-color: #EA5500;
  }